div {
  text-align: center;
}

h1 {
  margin-top: 0px;
  color: white;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 15px;
}

a {
  outline : none;
  text-decoration: none;
}

#container {
  background-color: black;
}

#cardContainer {
  text-align: center;
}

#icon {
  height: 30px;
  width: 30px;
  padding-top: 5px;
}